<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Hosptial, <%= @patient.f_name %></h1>
    <p>
      Dr. <%= @patient.doctors.first.f_name %> added you for consult.
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
